<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Как добавить скрипт в свой чат?</title>
    <link rel="stylesheet" href="SlideFive.css" />
    <link rel="stylesheet" href="../../adaptive.css" />
  </head>
  <body>
    <section class="wrapper">
      <h1 class="title">
        <span class="blue">Как</span> добавить
        <span class="blue">скрипт</span> в свой <span class="blue">чат</span>?
      </h1>

      <p class="subtitle">
        Подзаголовок Подзаголовок Подзаголовок Подзаголовок Подзаголовок
        Подзаголовок Подзаголовок Подзаголовок Подзаголовок Подзаголовок
        Подзаголовок Подзаголовок Подзаголовок Подзаголовок
      </p>

      <div class="grid">
        <div class="card gray">
          <div class="step">01</div>
          <h2>Добавьте бота<br />в администраторы группы</h2>

          <div class="content">
            <img src="image1.jpg" alt="" />
            <div class="text">
              <p>
                Зайдите в настройки своего чата "Управление – Администраторы –
                Добавить администратора"
              </p>
              <p><strong>Добавьте выбранный виджет:</strong></p>
              <p>Антиспам-бот:<br />@cleaner_magic_bot</p>
              <p>Инфо о подписчике:<br />@info_magicwords_bot</p>
              <p>Прогноз погоды:<br />@Monaco_meteo_bot</p>
            </div>
          </div>
        </div>

        <div class="card blue-card">
          <div class="step">02</div>
          <h2>Задайте для<br />бота нужные права</h2>

          <div class="content center">
            <img src="image2.jpg" alt="" />
          </div>
        </div>

        <div class="card blue-light">
          <div class="step">03</div>
          <h2>Пройдите<br />регистрацию</h2>
          <p>Для продолжения настройки пройдите регистрацию или вход</p>
          <a href="#" class="link">Зарегистрироваться/Войти</a>
          <p>SMS подтверждение регистрации придёт в Telegram</p>
          <p>Затем выберите виджет, которым хотите управлять.</p>
        </div>

        <div class="card gray">
          <div class="step">04</div>
          <h2>Завершите настройку</h2>
          <p>На открывшейся странице - укажите ссылку на Ваш чат</p>
          <p>Для Вас будут доступны подробные настройки выбранного скрипта</p>
          <div class="content center">
            <img src="image3.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
