<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Прогноз погоды</title>
    <link rel="stylesheet" href="SlideFour.css" />
    <link rel="stylesheet" href="../../adaptive.css" />
  </head>
  <body>
    <div class="background">
      <img src="../../../static/BigBen.png" class="bg-left" alt="" />
      <img src="../../../static/tower.png" class="bg-right" alt="" />
    </div>

    <div class="container">
      <div class="cards-section">
        <div class="cards-wrapper">
          <div class="card">
            <div
              class="card-image"
              style="background-image: url('../../../static/DubaiWeather.png')"
            ></div>
          </div>

          <div class="card">
            <div
              class="card-image"
              style="background-image: url('../../../static/DubaiWeather.png')"
            ></div>
          </div>

          <div class="card">
            <div
              class="card-image"
              style="background-image: url('../../../static/DubaiWeather.png')"
            ></div>
          </div>

          <div class="card">
            <div
              class="card-image"
              style="background-image: url('../../../static/DubaiWeather.png')"
            ></div>
          </div>

          <div class="arrow">
            <img src="../../../static/arrows.png" alt="" class="arrow-icon" />
          </div>
        </div>
      </div>

      <div class="text-section">
        <h1>Прогноз погоды</h1>
        <p class="subtitle">Умный захватчик лидов из Telegram для сайта.</p>

        <p class="description">
          Если Ваш чат привязан к городу, то бот будет ежедневно писать прогноз.
          Стандартный пост будет включать в себя несколько пунктов прогноза:
        </p>

        <ol>
          <li>На сегодня (подробный);</li>
          <li>На завтра (утро, день и вечер);</li>
          <li>На ближайшие 3 дня;</li>
        </ol>

        <button class="telegram-btn">
          <a href="https://t.me/Monaco_meteo_bot">@Monaco_meteo_bot</a>
        </button>
      </div>
    </div>

    <img src="../../../static/BigBen.png" class="bottom-left-photo" alt="" />
    <img
      src="../../../static/tower.png"
      class="bottom-left-photo-second"
      alt=""
    />
  </body>
</html>
