<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Защита Telegram чата</title>
    <link rel="stylesheet" href="SlideTwo.css" />
    <link rel="stylesheet" href="../../adaptive.css" />
  </head>
  <body>
    <section class="hero">
      <div class="container">
        <div class="hero-content">
          <h4>
            <span>Защита</span> Telegram чата <br />
            от <span>спама</span>, <span>флуда</span> и <span>бардака</span>
          </h4>

          <p class="subtitle">
            Умный захватчик лидов из Telegram. Умный захватчик лидов из
            Telegram.Умный захватчик лидов.
          </p>

          <div class="features">
            <h3>Основной функционал виджета:</h3>
            <ol>
              <li>Защита от спама</li>
              <li>Приветствие для новых подписчиков, капча</li>
              <li>Удаление служебных уведомлений</li>
              <li>Статистика</li>
            </ol>
          </div>

          <div class="setup">
            <h3>Удобная настройка</h3>
            <p>
              Управление виджетом происходит с компьютера, что сильно упрощает
              настройку
            </p>
          </div>

          <a href="#" class="btn">@cleaner_magic_bot</a>
        </div>

        <div class="hero-image">
          <img src="../../../static/board.png" alt="Preview" />
        </div>
      </div>
    </section>
  </body>
</html>
