<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini переходник</title>
    <link rel="stylesheet" href="Element.css" />
  </head>
  <body>
    <div class="mini-divider">
      <div class="container">
        <div class="divider-top">
          <div class="divider-left">
            <h2 class="divider-title">Нас уже 150+</h2>
            <p class="divider-text">
              Каждый день наши виджеты помогают сотням админов чата навести
              красоту и порядок в своих группах. Мы рады быть Вам полезны!
            </p>
            <p class="divider-contact">
              С предложениями и пожеланиями обращайтесь к руководителю нашего
              проекта <a href="https://t.me/Alexey_Liss">@Alexey_Liss</a>
            </p>
          </div>
          <div class="divider-right">
            <img
              src="../../static/cloud.png"
              alt="Облако городов"
              class="cloud-image"
            />
          </div>
        </div>
        <div class="divider-bottom">
          <p>Добавляй виджеты в свой чат! Сделай его ярче и технологичней!</p>
        </div>
      </div>
    </div>
  </body>
</html>
