<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>MagicWorlds — Виджеты</title>
    <link rel="stylesheet" href="SlideOne.css" />
    <link rel="stylesheet" href="../../adaptive.css" />
  </head>
  <body>
    <section class="hero">
      <div class="container">
        <div class="hero-content">
          <h1>
            Полезные виджеты<br />
            для Вашего чата <span>Telegram</span>
          </h1>

          <p class="description">
            Общайтесь с клиентами там, где им удобно. Повышайте конверсию сайта
            благодаря безлимитным сообщениям и полной интеграции с
            Яндекс.Метрикой.
          </p>

          <div class="buttons">
            <a href="#" class="btn-primary">Установить виджет</a>
            <a href="#" class="btn-link">Нужна помощь</a>
          </div>
        </div>

        <div class="hero-image">
          <img src="../../../static/Home-Photoroom.png" alt="Telegram виджет" />
        </div>

        <div class="hero-side">
          <h3>Установка за 5 минут</h3>
          <p>
            Без дизайнеров и программистов,<br />
            шаг за шагом заполните поля<br />
            и добавьте виджет на любой сайт.
          </p>
          <a href="#" class="more-link">Узнать больше</a>
        </div>
      </div>
    </section>
  </body>
</html>
